[Unit]
Description=TUNET proxy authing server
After=network.target

[Service]
ExecStart=/usr/bin/python3 server.py
KillSignal=SIGINT
Environment='PYTHONUNBUFFERED=1'
WorkingDirectory=/path/to/your/proxy_authing
SyslogIdentifier=tunet_proxy_authd

[Install]
WantedBy=multi-user.target
